{%extends "../base.html"%}

{% block content %}
<div class="container">
    <p class="flow-text">
        Coin Collector is a great tool to keep track of your coins collection and share it with other
        avid collectors like you. You have the option to keep your collection private or share it 
        with the world,
    </p>
    <p class="flow-text">
        If you are willing to sell one of your coins, just select the For Sale option so other
        users can find it and connect with you making a bid.
    </p>
</div>
{% endblock %}