{%extends "../base.html"%}

{% block content %}
<h4>Coins List</h4>
{% for coin in coins %}
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ coin.year }} {{ coin.country }} {{ coin.denomination }}</span>
        <img src="{{ coin.img }}" class="coin-img"/></p>
        <p>Details: {{ coin.comment }}</p>
        {% if coin.for_sale == True %}
        <p>For Sale</p>
        {% else %}
        <p>Not For Sale</p>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}