{%extends "../base.html"%}

{% block content %}
<div class="container center">
    {% for coin in coins %}
    <div class="col s6 m6">
        <a href="{% url 'home' %}{{ coin.id }}">
            <div class="card medium hoverable">
                <div class="card-image">
                    <img src="{{ coin.img }}">
                </div>
                <div class="card-content">
                    <div class="center-align">
                    {% if coin.country == "DOM" %}
                    Dominican Republic<br/>
                    {% else %}
                    United States<br/>
                    {% endif %}
                    {{ coin.year}} - {{ coin.denomination}}
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
