
.nav-wrapper {
    background-color: #d30000 !important;
}

.logo-font {
    font-family: 'Cinzel', serif;
    font-size: 4.5vmin;
}

.card-content > div {
    text-decoration: none;
    color: black;
    font-size: 4.5vmin;
    margin-top: 30px;
}

.details-coin-img {
    border-radius: 15px;
    height: 100%;
    width: 100%;
}

.card-img {
    width:50%;
}